GEMINI_API_KEY=AIzaSyAfZ4hcGbQzv2X9KJHEbpvjmHwqQbs4wBc
MONGO_URI=your_mongodb_connection_string_here
MONGODB_URI=your_mongodb_connection_string_here
GITHUB_TOKEN=your_github_token_here
GITHUB_REPO_OWNER=your_github_owner_here
GITHUB_REPO_NAME=your_github_repo_here
WORKFLOW_FILE=ci.yml
