services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.web
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development
    depends_on:
      - api
      - db

  api:
    build:
      context: ./Backend/src
      dockerfile: Dockerfile.api
    ports:
      - "3000:3000"
    volumes:
      - ./Backend/src:/usr/src/app
    depends_on:
      - db

  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    volumes:
      - .:/worker
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: cicd
      POSTGRES_PASSWORD: cicdpass
      POSTGRES_DB: cicddb
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  db_data:

networks:
  default:
    driver: bridge
